<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>view</title>
    <link rel="shortcut icon" href="https://passport.futunn.com/favicon.ico" type="image/x-icon">
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            height: 100%;
        }
    </style>
</head>

<body>
    <center>
        <h1>
            注册成功，昵称：<span><%= data%></span>
        </h1>
    </center>
    <script>
        // 无转义输出
        var nick = '<%- data%>';
    </script>
</body>

</html>
